<div class="grid grid-cols-1">
  <div class="grid gap-2 sm:col-span-1 md:col-span-1 lg:col-span-2">
    <div class="dark:bg-darker flex justify-between overflow-x-auto rounded-md bg-white p-4">
      <div class="dark:bg-darker w-full flex flex-col rounded-md bg-white">
        <div class="dark:border-primary flex justify-between border-b p-3">
          <span class="px-2 text-2xl">{{ 'pages.clusters.details.compliancescore.title' | translate }}</span>

          <span class="flex-grow"></span>
          <button
            (click)="toggleEdit()"
            class="delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-green-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:cursor-not-allowed disabled:bg-gray-500 disabled:opacity-75 disabled:hover:bg-gray-800"
          >
            {{ 'common.edit' | translate }}
          </button>
          <button
            (click)="refreshRequested.emit()"
            class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
          >
            {{ 'common.refresh' | translate }}
          </button>
        </div>
        @if (!edit) {
          <div class="p-3 w-full">
            <table class="border-collapse text-left w-full">
              <tbody class="">
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1 align-top">{{ 'pages.clusters.details.compliancescore.version' | translate }}</td>
                  <td class="px-2 py-1 font-bold">
                    <div class="dark:bg-gray-800 bg-slate-200 p-4">
                      {{
                        cluster.versions.nhnTooling.version
                          ? cluster.versions.nhnTooling.version
                          : ('pages.clusters.details.compliancescore.nodata' | translate)
                      }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        } @else {
          <app-cluster-details-edit [cluster]="cluster" (updateOk)="onUpdateOk($event)"></app-cluster-details-edit>
        }
      </div>
    </div>
  </div>
</div>
